<meta name="viewport" content="width=500, initial-scale=1" />
<div class="grid-container">
  <div style="margin: 15px;">
    <div class="title">cobas® infinity production monitoring</div>
    <div class="subtitle">
      <span class="about"> About</span>
    </div>
    <div class="subtitle">
      <div>Software version: {{ version }} build {{ build }}</div>
    </div>
  </div>
  <mat-grid-list cols="2" style="margin: 16px; position: relative;" rowHeight="550px">
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; position: relative;">
        <div class="subtitle">
          <div>{{ udi }}{{ version }}</div>
        </div>
        <p style="margin-top: 16px; position: relative;">
          <b>cobas infinity</b> production monitoring is a stand-alone<br />
          software application to be used with <b>cobas infinity</b><br />
          central lab.<br />
          <b>cobas infinity</b> production monitoring enables the<br />
          display of laboratory workflow events within widgets in<br />
          near real-time.
        </p>
        <div style="margin-top: 16px;position: relative;">
          Copyright © 2020 F. Hoffmann-La Roche Ltd.<br />
          <br />
        </div>
        <div style="margin-top: 16px; position: relative;">
          Warning: All rights reserved. Copyright law<br />
          and international treaties protect this<br />
          computer program. Unauthorized<br />
          reproduction or distribution of this program<br />
          or any portion of it is strictly prohibited.<br />
          Portions of the Software might include Open<br />
          Source and Commercial Software.
        </div>
        <div style="margin-top: 16px; position: relative;">
          COBAS is a trademark of Roche.<br />
          <br />
          <br />
        </div>
        <div style="margin-top: 9px; position: relative;">
          <img src="assets/icons/Cobas_logo.png" />
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%;  width: 100%; position: relative;">
        <div style="display: flex; justify-content: flex-end;">
          <img src="assets/icons/manufacturer.png" style="width: 50px; height: 50px; margin-right: 8px;" />
          <div style="justify-content: flex-end;margin-top:-12px;">
            <p>
              Roche Diagnostics, GmbH<br />
              Sandhofer Strasse 116,<br />
              68305 Mannheim, Germany<br />
              <br />
              <b>Made in Spain</b>
            </p>
          </div>
        </div>

        <div style="display: flex; margin-right: 35px; justify-content: flex-end;">
          <p>
            <b>Distributed in USA by:</b><br />
            Roche Diagnostics,<br />
            9115 Hague Road,<br />
            Indianapolis, Indiana,<br />
            USA
          </p>
        </div>

        <div
          style="display: flex; align-items: center; margin-top: 12px; justify-content: flex-end; margin-right: 58px;"
        >
          <img src="assets/icons/GTIN.png" style="height: 30px; width: 43px;" />
          <div style="margin-left: 8px"><b>07613336198056</b></div>
        </div>

        <div
          style="display: flex; align-items: center; margin-top: 6px; justify-content: flex-end; margin-right: 80px;"
        >
          <img src="assets/icons/REF.png" style="height: 56px; width: 50px;" />
          <div style="margin-left: 8px"><b>08923370001</b></div>
        </div>

        <div
          style="display: flex; align-items: center; margin-top: 5px; justify-content: flex-end; margin-right: 120px"
        >
          <img src="assets/icons/caution.png" style="height: 38px; width: 38px;" />
          <img src="assets/icons/manual.png" style="height: 42px; width: 42px; margin-left: 16px" />
        </div>

        <div style="margin-top: 16px; float: right">
          <img src="assets/icons/Roche_Logo.png" style="height: 40px; width: 78px;" />
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
